@import "_mixins";

.footer {
  // padding-top: 20px;
  background-image: linear-gradient(
    to right,
    rgb(150, 149, 149) 20%,
    #b6b6b5 80%
  );

  @include respond(tab-tab) {
    padding-right: 10px;
  }
  @include respond(hab-max) {
    height: 210px;
  }
  @include respond(tab-port) {
    height: 220px;
  }
  @include respond(phone) {
    height: 200px;
   }

  &__footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-end;
    gap: 40px;
    padding: 20px 16px 60px;
    
    @include respond(hab-max) {
      gap: 20px;
    }
     @include respond(tab-pad) {
      padding-bottom: 42px;
      padding-top: 6px;
    }
    @include respond(phone) {
     padding-bottom: 0;
    }
  }

  &__logo {
    width: 22%;
    @include respond(tab-port) {
      width: 28%;
    }
    @include respond(phone) {
     width: 0%;
    }
  }

  &__logo-icon {
    width: 140px;
    padding-top: 30px;
    
    @include respond(hab-max) {
      width: 120px;
    }
    @include respond(tab-pad) {
      width: 100px;
    }
    
    @include respond(phone) {
      visibility: hidden;
     }
   
  }

  &__menu-links {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    @include respond(tab-port) {
      width: 26%;
    }
    @include respond(tab-pad) {
      width: 40%;
      gap: 6px;
    }
    @include respond(phone) {
      width: 35%;
    }
  }

  &__menu-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
    @include respond(tab-max) {
      font-size: 18px;
    }
    @include respond(hab-max) {
      font-size: 16px;
    }
    @include respond(tab-pad) {
      font-size: 14px;
    }
    @include respond(tab-port) {
      font-size: 13px;
    }
  
  }

  &__menu-link:hover {
    color: #7fb8dd;
    transition: 0.2s linear;
  }

  &__contacts {
    width: 24%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include respond(tab-pad) {
      padding-left: 15px;
      width: 27%;
      padding-top: 55px;
    }
    @include respond(phone) {
      padding-left: 0px;
       width: 30%;
    }
  }

  &__contacts-text {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 15px;
    @include respond(tab-max) {
      font-size: 18px;
    }
    @include respond(hab-max) {
      font-size: 16px;
    }
    @include respond(tab-pad) {
      font-size: 14px;
      padding-bottom: 10px;
    }
    @include respond(phone) {
      font-size: 13px;
      padding-bottom: 5px;
    }
  }

  &__phone-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    @include respond(tab-pad) {
      gap: 5px;
    }
  }

  &__phone-icon {
    width: 35px;
    color: #ffffff;
    @include respond(tab-max) {
      width: 30px;
    }
    @include respond(tab-pad) {
      width: 22px;
    }
    @include respond(tab-port) {
      display: none;
    }
  }

  &__number-phone {
    font-size: 20px;
    color: #ffffff;
    @include respond(tab-max) {
      font-size: 20px;
    }
    @include respond(hab-max) {
      font-size: 18px;
    }
    @include respond(tab-pad) {
      font-size: 14px;
    }
    @include respond(tab-port) {
      font-size: 12px;
    }
  }

  &__socialNetwork {
    width: 22%;
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    @include respond(hab-max) {
      gap: 20px;
      padding-top: 70px;
    }
    @include respond(tab-pad) {
      // gap: 10px;
      width: 28%;
    }
    @include respond(tab-port) {
      width: 32%;
      margin-right: 20px;
    }
    @include respond(phone) {
      width: 20%;
      padding-right: 10px;
    }
  }

  &__socialNetwork-span {
    padding-right: 20px;
    @include respond(tab-port) {
      padding-right: 5px;
    }
  }

  &__icon {
    width: 40px;
    transition: 0.2s linear;
    @include respond(phone) {
      width: 30px;
    }
  }

  &__copyright {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    @include respond(hab-max) {
      font-size: 14px;
    }
    @include respond(tab-pad) {
      font-size: 12px;
      padding-left: 10px;
    }
    
  }
}
