@import "_mixins";

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fffefe;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;

}

.swiper {
  width: 100%;
  height: 290px;
  padding-left: 10px;
  padding-right: 10px;
  @include respond(tab-land) {
   height: 250px;
  }
  //  @include respond(tab-tab) {
  //  height: 220px;
  // }
  @include respond(phone) {
    height: 200px;
  }
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8px;
  
  @include respond(phone) {
    width: 120px;
  }
}

.swiper-slide img {
  width: 100%;
  height: 80%;
  object-fit: cover;

  @include respond(tab-port) {
    width: 80%;
    height: 80%;
  }
  @include respond(phone) {
    width: 85px;
  height: 85px;
  }
}

.swiper-button-next:after {
@include respond(phone) {
   visibility: hidden;
  }
}

.swiper-button-prev:after {
@include respond(phone) {
   visibility: hidden;
   
  }
}